spring:
#  main:
#    web-application-type: none
  application:
    name: careermate
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:MyPostgresDB}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_NAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration: 900 # in second
  refreshable-duration: 604800 # in second
  # in seconds

# Firebase config
firebase:
  project-id: careermate-97d8c
  bucket-name: careermate-97d8c.firebasestorage.app
  credentials:
    path: classpath:firebase-service-account.json
    